body {
  margin: 0;
  background-color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbackground {
  display: flex;
  width: 100%;
  background-color: darkgray;
}

#amphead {
  width: 100%;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10%;
  background-color: orange;
  position: absolute;
  top: 51.5%;
  left: 21%;
}

.pagebox {
  display: flex;
  width: 100%;
  background-color: blue;
}

#ampcab {
  width: 100%;
}