body {
  margin: 0;
  background-color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbackground {
  background-image: url('../public/images/background-texture.jpg');
  background-repeat: repeat;
  background-position: 0% 100%;
  display: flex;
  width: 100%;
  background-color: darkgray;
}

#amphead {
  width: 100%;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 10%;
  position: absolute;
  top: 51.5%;
  left: 21%;
}

.links {
  text-decoration: none;
  font-size: 40px;
  color: black;
}

.pagebox {
  display: flex;
  width: 100%;
  background-color: rgb(111, 103, 110);
  background-image: url('../public/images/background-texture.jpg');
  background-repeat: repeat;
}

#ampcab {
  width: 100%;
}